.ant-modal {
    .ant-modal-content {
        padding: 0;
        overflow: hidden;
        background-color: #fff2f2;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        border-radius: 12px;
    }
    .ant-modal-close {
        color: white;
        &:hover {
            background-color: white;
        }
    }
}

.result-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    .result-banner {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        .bannerimg {
            height: 350px;
            filter: brightness(35%);
            img {
                height: 120%;
            }
        }
        .bannertext {
            position: absolute;
            display: inline-block;
            text-align: center;
            h1 {
                font-family: 'Phudu';
                font-size: 500%;
                letter-spacing: 2px;
                line-height: 100%;
                text-align: center;
                filter: drop-shadow(2px 2px 20px rgb(20, 10, 10));
                #bannertext01 {
                    padding-top: 20px;
                    background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                #bannertext02 {
                    background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                #bannertext03 {
                    background-image: linear-gradient(
                        to right,
                        #b8cbb8 0%,
                        #b8cbb8 0%,
                        #b465da 0%,
                        #cf6cc9 33%,
                        #ee609c 66%,
                        #ee609c 100%
                    );
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all;
                    background-size: 200% 200%;
                    animation: gradient 2s infinite linear;
                }
                @keyframes gradient {
                    0% {
                        background-position: 0% 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0% 50%;
                    }
                }
            }
        }
    }
    .result-content {
        height: 60%;
        font-family: 'Lexend' !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        #greeting {
            margin-top: 20px;
        }
        p {
            margin-top: 0;
            text-align: justify;
            font-size: 1.6rem;
            width: min(95%, 700px);
            font-weight: 300;
            color: rgb(85, 83, 83);
            strong {
                font-weight: 600;
            }
        }
        span {
            font-family: 'Phudu';
            text-decoration: none;
            font-size: 2.3rem;
            text-transform: uppercase;
            display: flex;
            gap: 1%;
            justify-content: space-around;
            align-items: center;
            border: 2px solid salmon;
            border-radius: 10px;
            padding: 5px 40px;
            transition: all 0.5s ease-in-out;
            background: linear-gradient(#fbf2f2 0 0) padding-box,
                linear-gradient(to bottom, transparent, #fa7667) border-box;
            border: 1px solid transparent;
            box-shadow: rgba(250, 146, 134, 0.35) 0px 20px 25px -5px, rgba(250, 146, 134, 0.51) 0px 10px 10px -5px;
            color: #fa7667;
            line-height: 5rem;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .result-modal {
        padding-bottom: 2rem;
        .result-banner {
            .bannerimg {
                height: 220px;
                img {
                    height: 100%;
                }
            }
            .bannertext {
                h1 {
                    font-size: 300%;
                }
            }
        }
        .result-content {
            p {
                font-size: 1.3rem;
            }
            span {
                font-size: 1.8rem;
                padding: 5px 30px;
                line-height: 4rem;
            }
        }
    }
}
