.ranobeContainer {
    min-height: 100vh !important;
    padding-bottom: 15rem;
    .functionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding: 0 0 5rem;
        input {
            background-image: url(../../../assets/search_icon.svg);
            background-size: 15px;
            background-position: 13px center;
            background-repeat: no-repeat;
            caret-color: rgb(73, 74, 75);
            width: min(500px, 95%);
            font-family: 'Lexend';
            font-size: 1.5rem;
            font-weight: 300;
            padding: 15px 15px 15px 40px;
            border-radius: 10px;
            border: none;
            background-color: var(--color-azure);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            &:focus {
                outline: none;
            }
        }
        button {
            font-family: 'Lexend';
            font-size: 1.5rem;
            font-weight: 300;
            padding: 15px;
            border-radius: 10px;
            width: 160px;
            cursor: pointer;
            border: none;
            background-color: #404660;
            color: aliceblue;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
    }
    .ranobeList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
        .lnItem {
            position: relative;
            max-width: 250px;
            background-color: var(--color-azure);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            cursor: pointer;
            .coverWrapper {
                width: 100%;
                height: 75%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: calc(100% + 10px);
                    height: calc(100% + 2px);
                }
            }
            .info {
                height: 25%;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0 15px;
                gap: 5px;
                justify-content: space-between;
                h4 {
                    color: rgb(109 99 99);
                    margin: 0;
                    padding-top: 15px;
                }
                p {
                    margin: 0;
                    font-size: 1.4rem;
                    padding-bottom: 15px;
                }
            }
            .lnID {
                position: absolute;
                top: 1%;
                left: 3%;
                font-size: 1.4rem;
                font-weight: 600;
                background: var(--color-azure);
                border-radius: 25%;
                padding: 1px 5px;
                text-align: center;
            }
            svg {
                width: 30px;
                position: absolute;
                top: 1%;
                right: 3%;
                color: rgb(17 147 21);
                background-color: azure;
                border-radius: 50%;
                display: none;
            }
        }
        .lnChosen {
            background-color: rgb(213 255 200);
            box-shadow: rgb(17 147 21 / 61%) 0px 6px 12px -2px, rgb(17 147 21 / 40%) 0px 3px 7px -3px;
            .info {
                h4 {
                    color: rgb(17 147 21);
                }
            }
            svg {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .ranobeContainer {
        .functionContainer {
            flex-direction: column;
            gap: 2rem;
        }
        .ranobeList {
            gap: 1rem;
            .lnItem {
                max-width: 150px;
                .info {
                    gap: 15px;
                    h4 {
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
