.ld-banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    .bannerimg {
        height: 100%;
        filter: brightness(35%);
        img {
            height: 100%;
        }
    }
    .bannertext {
        position: absolute;
        display: inline-block;
        text-align: center;
        h1 {
            font-family: 'Phudu';
            font-size: 6vw;
            letter-spacing: 2px;
            line-height: 5.6vw;
            text-align: center;
            filter: drop-shadow(2px 2px 30px rgb(20, 10, 10));
            #bannertext01 {
                padding-top: 20px;
                background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #bannertext02 {
                background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #bannertext03 {
                background-image: linear-gradient(
                    to right,
                    #b8cbb8 0%,
                    #b8cbb8 0%,
                    #b465da 0%,
                    #cf6cc9 33%,
                    #ee609c 66%,
                    #ee609c 100%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all;
                background-size: 200% 200%;
                animation: gradient 2s infinite linear;
            }
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
        }
        #extra {
            font-family: 'Lexend';
            font-weight: 900;
            color: rgb(255, 211, 211);
            border: 2px solid rgb(255, 211, 211);
            border-radius: 10px;
            padding: 15px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
    }
}

@media screen and (max-width: 900px) {
    .ld-banner {
        .bannertext {
            h1 {
                font-size: 12vw;
                line-height: 11vw;
            }
            #extra {
                font-size: 1.2rem;
                border: 1px solid rgb(255, 211, 211);
                padding: 10px;
            }
        }
    }
}
