.ranobeContainer {
    min-height: 100vh !important;
    padding-bottom: 15rem;
    img {
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .functionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding: 0 0 5rem;
        input {
            background-image: url('../../../assets/search_icon.svg');
            background-size: 15px;
            background-position: 13px center;
            background-repeat: no-repeat;
            caret-color: rgb(73, 74, 75);
            width: min(500px, 95%);
            font-family: 'Lexend';
            font-size: 1.5rem;
            font-weight: 300;
            padding: 15px 15px 15px 40px;
            border-radius: 10px;
            border: none;
            background-color: var(--color-azure);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            &:focus {
                outline: none;
            }
        }
        button {
            font-family: 'Lexend';
            font-size: 1.5rem;
            font-weight: 300;
            padding: 15px;
            border-radius: 10px;
            width: 160px;
            cursor: pointer;
            border: none;
            background-color: #404660;
            color: aliceblue;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
    }
    .ranobeList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
        .lnItem {
            position: relative;
            max-width: 250px;
            background-color: var(--color-azure);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            cursor: pointer;
            .coverWrapper {
                width: 100%;
                height: 75%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: calc(100% + 10px);
                    height: calc(100% + 2px);
                }
            }
            .info {
                height: 25%;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 5px;
                justify-content: space-between;
                padding: 0 10px;
                h4 {
                    color: rgb(109 99 99);
                    margin: 0;
                    padding-top: 15px;
                    line-height: 2.1rem;
                }
                p {
                    margin: 0;
                    font-size: 1.4rem;
                    padding-bottom: 15px;
                }
            }
            .lnID {
                position: absolute;
                top: 1%;
                left: 3%;
                font-size: 1.4rem;
                font-weight: 600;
                background: var(--color-azure);
                border-radius: 25%;
                padding: 1px 5px;
                text-align: center;
            }
            svg {
                width: 30px;
                position: absolute;
                top: 1%;
                right: 3%;
                color: rgb(17 147 21);
                background-color: azure;
                border-radius: 50%;
                display: none;
            }
        }
        .lnChosen {
            background-color: rgb(213 255 200);
            box-shadow: rgb(17 147 21 / 61%) 0px 6px 12px -2px, rgb(17 147 21 / 40%) 0px 3px 7px -3px;
            .info {
                h4 {
                    color: rgb(17 147 21);
                }
            }
            svg {
                display: block;
            }
        }
    }

    .publisherList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
        .pItem {
            position: relative;
            width: 320px;
            height: 320px;
            border-radius: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border: 2px solid white;
            transition: all 0.5s ease-in-out;
            .logoWrapper {
                width: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 70%;
                }
            }
            .pID {
                position: absolute;
                top: 3%;
                left: 3%;
                font-size: 1.4rem;
                font-weight: 600;
                background: var(--color-azure);
                border-radius: 25%;
                padding: 1px 5px;
                text-align: center;
            }
            svg {
                width: 35px;
                position: absolute;
                top: 3%;
                right: 3%;
                color: rgb(17 147 21);
                background-color: azure;
                border-radius: 50%;
                display: none;
            }
        }
        .ipm {
            background-color: #15934b;
            border: 2px solid #15934b;
            box-shadow: rgb(12 151 204 / 10%) 0px 20px 25px -5px, rgb(12 151 204 / 50%) 0px 10px 10px -5px;
            .logoWrapper {
                img {
                    width: 65%;
                }
            }
        }
        .hikari {
            box-shadow: rgba(250, 146, 134, 0.1) 0px 20px 25px -5px, rgba(250, 146, 134, 0.5) 0px 10px 10px -5px;
        }
        .quangvan {
            box-shadow: rgb(12 151 204 / 10%) 0px 20px 25px -5px, rgb(12 151 204 / 50%) 0px 10px 10px -5px;
            .logoWrapper {
                img {
                    width: 65%;
                }
            }
        }
        .amak {
            box-shadow: rgb(73 127 43 / 10%) 0px 20px 25px -5px, rgb(71 126 42 / 50%) 0px 10px 10px -5px;
        }
        .tsuki {
            background-color: #fece00;
            border: 2px solid #fece00;
            box-shadow: rgb(30 135 65 / 10%) 0px 20px 25px -5px, rgb(30 135 65 / 50%) 0px 10px 10px -5px;
            .logoWrapper {
                img {
                    width: 50%;
                }
            }
        }
        .sky {
            box-shadow: rgb(12 151 204 / 10%) 0px 20px 25px -5px, rgb(12 151 204 / 50%) 0px 10px 10px -5px;
            background-color: #4b4b4b;
            border: 2px solid #4b4b4b;
        }
        .nhanam {
            box-shadow: rgb(62 184 179 / 10%) 0px 20px 25px -5px, rgb(62 184 179 / 50%) 0px 10px 10px -5px;
        }
        .owlbooks {
            box-shadow: rgb(12 151 204 / 10%) 0px 20px 25px -5px, rgb(12 151 204 / 50%) 0px 10px 10px -5px;
        }
        .wingsbooks {
            background-color: #00aef0;
            border: 2px solid #00aef0;
            box-shadow: rgba(250, 146, 134, 0.1) 0px 20px 25px -5px, rgba(250, 146, 134, 0.5) 0px 10px 10px -5px;
        }
        .uranix {
            background-color: #f6de12;
            border: 2px solid #f6de12;
            box-shadow: rgb(62 184 179 / 10%) 0px 20px 25px -5px, rgb(62 184 179 / 50%) 0px 10px 10px -5px;
            .logoWrapper {
                img {
                    width: 65%;
                }
            }
        }
        .shine {
            background-color: #fed3a6;
            border: 2px solid #fed3a6;
            box-shadow: rgb(221 10 13 / 10%) 0px 20px 25px -5px, rgba(250, 146, 134, 0.51) 0px 10px 10px -5px;
        }
        .orion {
            background-color: #fca412;
            border: 2px solid #fca412;
            box-shadow: rgb(19 32 60 / 10%) 0px 20px 25px -5px, rgb(19 32 60 / 50%) 0px 10px 10px -5px;
        }
        .usagi {
            box-shadow: rgb(206 104 141 / 10%) 0px 20px 25px -5px, rgba(250, 146, 134, 0.51) 0px 10px 10px -5px;
        }
        .ainovel {
            box-shadow: rgba(250, 146, 134, 0.1) 0px 20px 25px -5px, rgba(250, 146, 134, 0.51) 0px 10px 10px -5px;
        }
        .ichi {
            box-shadow: rgba(250, 146, 134, 0.1) 0px 20px 25px -5px, rgba(250, 146, 134, 0.51) 0px 10px 10px -5px;
        }
        .tre {
            box-shadow: rgb(12 151 204 / 10%) 0px 20px 25px -5px, rgb(12 151 204 / 50%) 0px 10px 10px -5px;
        }
        .tabooks {
            box-shadow: rgb(30 135 65 / 10%) 0px 20px 25px -5px, rgb(30 135 65 / 50%) 0px 10px 10px -5px;
        }

        .pChosen {
            box-shadow: rgb(17 147 21 / 61%) 0px 6px 12px -2px, rgb(17 147 21 / 40%) 0px 3px 7px -3px;
            border: 2px solid #0c753a;
            svg {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .ranobeContainer {
        .functionContainer {
            flex-direction: column;
            gap: 2rem;
            input {
                font-size: 1.3rem;
            }
            button {
                font-size: 1.3rem;
                padding: 13px;
                border-radius: 8px;
            }
        }
        .ranobeList {
            gap: 1rem;
            .lnItem {
                max-width: 110px;
                border-radius: 5px;
                .coverWrapper {
                    height: 65%;
                }
                .info {
                    height: 35%;
                    padding: 0 5px;
                    h4 {
                        font-size: 1.1rem;
                        line-height: 1.7rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p {
                        font-size: 0.9rem;
                    }
                }
                .lnID {
                    font-size: 1rem;
                }
            }
        }
        .publisherList {
            gap: 1rem;
            .pItem {
                width: 150px;
                height: 150px;
                border-radius: 20px;
            }
            .pChosen {
                svg {
                    width: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .ranobeContainer {
        .ranobeList {
            .lnItem {
                max-width: 105px;
                .coverWrapper {
                    height: 65%;
                }
                .info {
                    height: 35%;
                    padding: 0 5px;
                    h4 {
                        font-size: 1rem;
                        line-height: 1.3rem;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
