.footer {
    padding-top: 20rem;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btnLink {
            text-decoration: none;
        }
        .footerBtn {
            width: 300px;
            height: auto;
            margin: 4rem 0;
            padding: 1.5rem 0;
            // border: 1px solid rgb(151, 151, 151);
            box-shadow: rgb(250 118 103 / 75%) 0px 2px 5px -1px, rgb(252 197 191) 0px 1px 3px -1px;
            border-radius: 10px;
            text-align: center;
            span {
                font-family: 'Phudu';
                font-size: 2rem;
                color: rgb(245 116 101);
            }
            &:hover {
                cursor: pointer;
            }
        }
        p {
            font-weight: 300;
            font-size: 1.6rem;
            color: rgb(151, 151, 151);
            width: min (1200px, 95%);
            margin: 0 auto;
            padding-bottom: 2rem;
            strong {
                cursor: pointer;
                &:hover {
                    color: salmon;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 10rem;
        div {
            .footerBtn {
                width: 200px;
                padding: 5px 0;
                span {
                    font-size: 1.5rem;
                    padding: 1rem 0;
                }
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        div {
            .footerBtn {
                width: 150px;
                padding: 2px 0;
                span {
                    font-size: 1.2rem;
                    padding: 1rem 0;
                }
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
}
